* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.app-btn {
  background-color: #d3d3d3;
  border: 1px solid #999999;
  border-radius: 0;
  color: black;
  font-size: 15px;
  width: 90px;
  height: 32px;
  cursor: pointer;
  text-align: center;
}

.app-btn:hover {
  background-color: #bfbfbf;
}
